{% extends 'layouts/main.html'%}
{%load static%}
{%block body%}
<!DOCTYPE html>

<div class="about_section layout_padding">
   <div class="container">
      <h1 class="about_taital">About Our cycle Store</h1>
      <p class="about_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
      <div class="about_main">
         <img src="{%static '/images/img-5.png'%}" class="image_5">
      </div>
      <div class="read_bt_1"><a href="{%static '/#'%}">Read More</a></div>
   </div>
</div>
{%endblock body%}