{% extends 'layouts/main.html'%}
{%load static%}
{%block body%}
<!DOCTYPE html>

<div class="news_section layout_padding">
   <div class="container">
      <h1 class="news_taital">News</h1>
      <p class="news_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
      <div class="news_section_2 layout_padding">
         <div class="row">
            <div class="col-sm-4">
               <div class="box_main_1">
                  <div class="zoomout frame"><img src="{%static '/images/img-6.png'%}"></div>
                  <div class="padding_15">
                     <h2 class="speed_text">Speed cycle</h2>
                     <div class="post_text">Post by : Den <span style="float: right;">20-12-2019</span></div>
                     <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="box_main_1">
                  <div class="zoomout frame"><img src="{%static '/images/img-7.png'%}"></div>
                  <div class="padding_15">
                     <h2 class="speed_text">Speed cycle</h2>
                     <div class="post_text">Post by : Den <span style="float: right;">20-12-2019</span></div>
                     <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
                  </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="box_main_1">
                  <div class="zoomout frame"><img src="{%static '/images/img-8.png'%}"></div>
                  <div class="padding_15">
                     <h2 class="speed_text">Jaump cycle</h2>
                     <div class="post_text">Post by : Den <span style="float: right;">20-12-2019</span></div>
                     <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{%endblock body%}
