{%load static%}
<div class="banner_section layout_padding">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <div class="row">
                   <div class="col-md-7">
                      <div class="best_text">Best</div>
                      <div class="image_1"><img src="{%static '/images/img-1.png'%}"></div>
                   </div>
                   <div class="col-md-5">
                      <h1 class="banner_taital">New Model Cycle</h1>
                      <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                      <div class="contact_bt"><a href="{%static '/contact.html'%}">Shop Now</a></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-md-7">
                      <div class="best_text">Best</div>
                      <div class="image_1"><img src="{%static '/images/img-1.png'%}"></div>
                   </div>
                   <div class="col-md-5">
                      <h1 class="banner_taital">New Model Cycle</h1>
                      <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                      <div class="contact_bt"><a href="{%static '/contact.html'%}">Shop Now</a></div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <div class="row">
                   <div class="col-md-7">
                      <div class="best_text">Best</div>
                      <div class="image_1"><img src="{%static '/images/img-1.png'%}"></div>
                   </div>
                   <div class="col-md-5">
                      <h1 class="banner_taital">New Model Cycle</h1>
                      <p class="banner_text">It is a long established fact that a reader will be distracted by the readable content </p>
                      <div class="contact_bt"><a href="{%static '/contact.html'%}">Shop Now</a></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="{%static '/#main_slider'%}" role="button" data-slide="prev">
       <i class="fa fa-angle-left"></i>
       </a>
       <a class="carousel-control-next" href="{%static '/#main_slider'%}" role="button" data-slide="next">
       <i class="fa fa-angle-right"></i>
       </a>
    </div>
 </div>